.DetailAndRate {
    display: flex;
    .Comments {
        flex-basis: calc(60% - 10px);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.466);
        padding: 10px 20px;
        .comment-area {
            position: relative;
            input {
                padding: 10px;
                margin: 10px 0;
                width: 100%;
                outline: none;
                border: none;
                background: var(--fadeBackground);
                border-radius: 20px;
            }
            button {
                position: absolute;
                right: 0;
                top: 10px;
                padding: 10px 20px;
                border: none;
                border-radius: 100px;
                font-weight: 600;
                background: var(--backgroundColor);
                color: var(--textColor);
            }
        }
        h3 {
            margin-bottom: 10px;
            color: var(--backgroundColor);
        }
        ul {
            display: flex;
            flex-direction: column;
            padding: 10px;
            overflow-y: scroll;
            height: calc(100% - 100px);
            li {
                list-style: none;
            }
            li + li {
                margin-top: 10px;
            }
        }
    }

    .DetailInfo {
        flex-basis: 40%;
        position: relative;
        margin-left: 20px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.452);
        overflow: hidden;
        padding: 20px;
        overflow: hidden;
        min-width:390px;
        h3{
            margin-bottom: 20px;
            color: var(--backgroundColor);
        }
        ul.some_info {
            width: fit-content;
            width: 100%;
            border: 1px solid rgba(0, 0, 0, 0.219);
            li {
                list-style: none;
                span {
                    font-weight: 600;
                    width: 150px;
                    padding: 10px;
                    margin-right: 10px;
                    display: inline-block;
                    border-right: 1px solid rgba(0, 0, 0, 0.219);
                }
                &:nth-child(odd){
                    background: rgba(0, 0, 0, 0.041);
                }
                &+li{
                    border-top: 1px solid rgba(0, 0, 0, 0.219);
                }
            }
        }
        .detail-ways {
            box-shadow: 0 0px 5px rgba(0, 0, 0, 0.438);
            position: absolute;
            top: 0;
            right: 0;
            height: 30px;
            border-radius: 0 0 0 10px;
            z-index: 2;
            background: white;
            color: var(--backgroundColor);
            padding: 20px;
            display: flex;
            font-size: 24px;
            justify-content: center;
            align-items: center;
            user-select: none;
            cursor: pointer;
        }
    }
    @media screen and (max-width:800px) {
        flex-direction: column;
        div.DetailInfo{
            margin: 0;
            flex-basis: 100%;
            margin-top: 20px;
        }
    }
}

// @media screen and (max-width: 1550px) {
//     .DetailAndRate {
//         .Comments {
//             ul {
//                 display: flex;
//                 flex-direction: column;
//                 height: 480px;
//             }
//         }
//     }
// }

// @media screen and (max-width: 1390px) {
//     .DetailAndRate {
//         .Comments {
//             ul {
//                 display: flex;
//                 flex-direction: column;
//                 height: 450px;
//             }
//         }
//     }
// }

// @media screen and (max-width: 1260px) {
//     .DetailAndRate {
//         .Comments {
//             ul {
//                 display: flex;
//                 flex-direction: column;
//                 height: 470px;
//             }
//             flex-basis: 50%;
//         }
//         .DetailInfo {
//             flex-basis: 48%;
//         }
//     }
// }

// @media screen and (max-width: 882px) {
//     .DetailAndRate {
//         flex-direction: column-reverse;
//         flex-wrap: wrap;
//         .Comments,
//         .DetailInfo {
//             flex-basis: 100%;
//             margin: 15px 0;
//             .detail-wrapper {
//                 height: 100%;
//                 img {
//                     height: auto;
//                     width: 100%;
//                 }
//             }
//             .detail-ways {
//                 top: 0;
//                 right: 0;
//                 left: auto;
//                 transform: translateX(0);
//                 width: 100px;
//                 border-radius: 10px;
//                 padding: 20px;
//                 width: auto;
//                 p {
//                     span:last-child {
//                         display: none;
//                     }
//                 }
//             }
//         }
//     }
// }
