.ProductBox {
    display: flex;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.479);
    position: relative;

    .product-box-silder {
        height: calc(100vh - 130px);
        max-height: 600px;
        flex-basis: 60%;
        padding: 20px 0;
        border-right: 3px solid var(--backgroundColor);
        .box-silder-wrapper {
            overflow: hidden;
            height: 100%;
            width: 100%;
            position: relative;
            & > img {
                width: 100%;
                object-fit: cover;
                height: 100%;
            }
            ul {
                display: flex;
                flex-direction: column;
                left: 0;
                top: 50%;
                transform: translateY(-50%);

                justify-content: center;
                position: absolute;
                li {
                    list-style: none;
                    & + li {
                        margin-top: 15px;
                    }
                    img {
                        opacity: 0.2;
                        width: 100%;
                        height: 65px;
                        object-fit: cover;
                    }
                }
            }
        }
    }
    .product-box-detail {
        flex-basis: 40%;
        margin: 20px;
        margin-left: 40px;
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: space-between;
        p.name {
            font-size: 24px;
            font-weight: bold;
            letter-spacing: 0.2px;
            max-height: 60px;
            margin-bottom: 20px;
            overflow: hidden;
            color: var(--backgroundColor);
        }
        div.class-price {
            display: flex;
            width: 100%;
            padding-bottom: 5px;
            margin-bottom: 10px;
            overflow-x: auto;
            div {
                flex-grow: 1;
                font-weight: 600;
                min-width: 100px;
                border-radius: 10px;
                font-size: 16px;
                padding: 10px;
                cursor: pointer;
                transition: all ease 0.5s;
                color: rgb(85, 85, 85);
                max-width: 150px;
                position: relative;
                &.choose {
                    background: var(--backgroundColor);
                    color: white;
                }
            }

            div + div {
                margin-left: 10px;
            }
        }
        & > p {
            margin: 5px;
            span {
                display: inline-block;
                width: 120px;
                font-weight: 600;
            }
        }
        p.product-box-price {
            font-size: 36px;
            font-weight: 700;
            color: rgb(240, 48, 48);
            margin: 5px 0;
        }
        p.support-sell {
            font-weight: 600;
            margin-bottom: 5px;
        }
        div.sell-ways {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
            padding: 0 20px;
            width: 100%;
            img {
                padding: 5px 10px;
                border-radius: 10px;
                width: auto;
                height: 60px;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.473);
                & + img {
                    margin-left: 5px;
                }
            }
        }
        button {
            display: block;
            position: relative;
            bottom: 0;
            width: 100%;
            border: none;
            font-size: 20px;
            padding:15px 20px;
            text-transform: uppercase;
            font-weight: 600;
            background: var(--backgroundColor);
            color: var(--textColor);
            margin: 0 auto;
        }
    }
    .product-box-notify {
        padding: 10px 5px;
        border-radius: 15px;
        margin-bottom: 10px;
        p{
            margin: 5px;
        }
        p:first-child {
            font-weight: 600;
        }
        p:last-child {
            font-size: 14px;
        }
    }

    @media screen and(max-width:1120px) {
        flex-direction: column;
        .product-box-silder {
            max-height: auto;
            height: auto;
            border:none;
            margin-bottom: 20px;
            .box-silder-wrapper {
                ul {
                    li {
                        img {
                            height: 50px;
                        }
                    }
                }
            }
        }
    }
}
