
/**     Button Style    */
.Button {
    .button {
        border: none;
        border-radius: 500px;
        padding: 5px 15px;
        font-size: 16px;
        transition: all ease 0.35s;
        background: none;
        &.shadow {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.582);
        }

        &.default {
            border: 0.5px solid black;
        }

        &.noneradius {
            border-radius: 0;
        }

        &.hover {
            &:hover {
                box-shadow: 0 0 5px black;
            }
        }
    }
}

/**   Comment Style*/

.Comment {
    padding: 5px 10px;
    margin-bottom: 10px;
    text-align: left;
    .comment-wrapper {
        display: inline-block;
        border-radius: 10px;
        padding: 10px;
        width: 100%;
        .comment-title {
            font-size: 14px;
            font-weight: 600;
            .comment-time {
                color: black;
                font-size: 12px;
                font-weight: normal;
                margin-left: 10px;
            }
        }
        .comment-content {
            padding-top: 7px;
            margin-bottom: 10px;
            max-width: 350px;
            font-size: 14px;
        }

        &.right {
            float: right;
        }

        &.left {
            float: left;
        }

        &.shadow {
            box-shadow: 0 0 5px black;
        }
    }
}

/**   Input Style   */
.input-text-form{
    padding: 10px 0;
    position: relative;
    margin-bottom: 5px;
    label{
        display: block;
        font-size: 15px;
        position: absolute;
        top:23px;
        left: 10px;
        transition: all ease .4s;
    }
    input{
        font-size: inherit;
        padding:10px;
        width: 100%;
        &:valid + label,
        &:focus + label{
            top:3px;
            font-size: 12px;
            background: white;
            padding:0 5px;
            font-weight: 600;
            left: 5px;
            color: var(--backgroundColor);
        }
    }
}

.input-radio{
    border: 1px solid black;
    margin: 10px 0;
    padding: 10px;
    position: relative;
    label{
        position: absolute;
        left: 5px;
        top:-7px;
        font-size: 12px;
        padding:0 5px;
        font-weight: 600;
        background: white;
    }
    &>div{
        display: flex;
        justify-content: space-around;
        input{
            width: 16px;
            height: 16px;
        }
    }
}

//=================Modify=====================
.CartButton {
    button {
        float: right;
        font-size: 28px;
        border: none;
        background: transparent;
        overflow: hidden;
        outline: none;
        width: 80px;
        position: relative;
        p {
            font-size: 12px;
            transform: translateY(15px);
            transition: all ease 0.3s;
            color: var(--textColor)
        }
        .cart_shower {
            position: relative;
            transform: translateY(8px);
            transition: all ease .3s;
            display: inline-block;
            i{
                width: 25px;
                height: 25px;
                display: inline-block;
                color: var(--textColor)
            }
            span {
                position: absolute;
                left: 75%;
                font-weight: 600;
                color: white;
                top: 10%;
                border-radius: 100px;
                font-size: 12px;
                display: inline-block;
                width: 17px;
                height: 17px;
                background: rgb(243, 76, 76);
            }
        }
        &::before{
            content: "";
            background: rgba(255, 255, 255, 0.075);
            position: absolute;
            left: 50%;
            top:50%;
            transform: translate(-50%,-50%);
            width: 40px;
            height: 40px;
            border-radius: 50%;
            z-index: -1;
        }
    }
    &:hover {
        button {

            &::before{
                display: none;
            }
            .cart_shower{
                transform: translateY(2px);
            }
            p{
                transform: translateY(-5px);
            }
           
        }
    }    
}

// Header  - Search - Input
.HeaderSearch{
    flex-basis: 70%;
    .header-search{
        position: relative;
        input{
            padding: 10px 30px 10px 20px;
            border: none;
            outline: none;
            width: 100%;
            border-radius: 5px;
        }
        button{
            position: absolute;
            right: 1px;
            border: none;
            padding: 3px 15px;
            border-radius: 0 5px 5px 0;
            i{
                width:25px;
                display: inline-block;
            }
            font-weight: 300;
            transform: translateY(-50%);
            top:50%;
            color: rgba(0, 0, 0, 0.521);
            transition: all ease .3s;
            &:hover{
                color:white;
                background: var(--backgroundColor)
            }
        }
    }
}

// AdminListButton
.AdminListButton{
    border: 0;
    padding: 15px 0;
    flex-grow: 1;
    color: var(--textColor);
    cursor: pointer;
    background: transparent;
    font-size: inherit;
    span{
        transition: all ease .3s;
    }
    &:hover{
        color: orange;
        span{
            display: inline-block;
            transform: scale(1.2);
        }
    }
    @media screen and (max-width: 820px){
        font-size: 15px;
    }
    @media screen and (max-width: 600px){
        font-size: 10px;
    }
    @media screen and (max-width: 400px){
        font-size: 7px;
    }
}

//AdminButton
.AdminButton{
    // border-radius: 25px;
    padding: 2px auto;
    font-size: 20px;
    // width: 55px;
    border:none;
    outline: none;
    &:active{
        background-color: rgba(59, 59, 252, 0.432);
    }
}

//AdminSearchInput
// .AdminSearchInput{
//     position: relative;
//     left: 80%;
//     top: -5px;
//     margin: 0 12% 0 0;
//     width: 10%;
//     input{
//         border-radius: 45px;
//         padding: 3px 0 3px 8px;
//         background-color: none;
//         outline: none;
//     }
//     button{
//         width: 27px;
//         height: 27px;
//         border-radius: 55px;
//         position: absolute;
//         right: 13%;
//     }
// }

.AdminSearchInput{
    position: relative;
    width: auto;
    left: auto;
    top:auto;
    border-radius: 100px;
    border: 3px solid var(--backgroundColor);
    min-width: 42px;
    min-height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        input{
               padding: 10px 0 10px 20px;
               width: 250px;
        }
    }
    input{
        outline: none;
        transition: all ease .5s;
        border-radius: 100px;
        border: none;
        width: 0;
        font-size: inherit;
        &:valid, &:focus{
            padding: 10px;
            width: 250px;
        }
    }
    button{
        position: absolute !important;
        border: none;
        background: none;
        right: 7px;
        color: var(--backgroundColor);
        svg{
            width: 24px;
            height: 24px;
        }
    }
}