.AdminMenu{
    padding: 0 5%;
    padding-top: 10px;
    ul{
        background: var(--backgroundColor);
        display: flex;
    }
    // @media screen and (max-width: 820px) {
    //     width: 562px;
    // }
    // @media screen and (max-width: 600px) {
    //     width: 395px;
    //     top: 45px
    // }
    // @media screen and (max-width: 400px) {
    //     width: 293px;
    // }
}