.Home{
    .home-body-content{
        width: 90%;
        margin: 0 auto;
        padding: 10px;
    }
}

@media screen and (max-width:450px) {
    .Home{
        .home-body-content{
            width: 95%;
            padding: 0;
        }
    }
}