.ProductItem {
    list-style: none;
    max-width: calc(25% - 15px);
    margin:15px 5px ;
    padding: 10px 10px 0 10px;
    overflow: hidden;
    border-radius: 10px;
    background: white;
    transition: all ease .3s;
    user-select: none;
    min-width: 273px;
    position: relative;
    .discount_area{
        position: absolute;
        top:0;
        right: 10px;
        img{
            width: 70px;
        }

        span{
            position: absolute;
            top:10px;
            display: inline-block;
            width: 60px;
            text-align: center;
            right: 10px;
            font-size: 28px;
            color: white;
            margin: 0;
            i{
                font-size: 12px;
                position: static;
            }
        }
        i{
         font-style: normal;
         position: absolute;
         right: 20px;
         top:40px;
         color: white;
        }
    }
    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
    }
    img.image_shower {
        height:250px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 20px;
    }
    .product-info {
        padding: 0 5px;
        &>p {
            font-size: 18px;
            font-weight: 600;
            height: 50px;
            overflow: hidden;
            &.price{
                color:red;
                height: auto;
                margin: 10px 0;
            }
        }

        .product-panel{
            padding: 10px;
            background: rgba(82, 82, 82, 0.144);
            border-radius: 10px;
            p:first-child,p:nth-child(2){
               height: 37px;
            }
            svg{
                opacity: .7;
            }
            p{
                font-size: 14px;
                &:last-child{
                    display: flex;
                    margin-top: 10px;
                    span{
                        flex-grow: 1;
                    }
                }
            }
        }
    }
    .product-behavior{
        padding: 10px 0;
        display: flex;
        button{
            flex-grow: 1;
            padding: 10px 0;
            font-weight: 600;
            text-transform: uppercase;
            border: none;
            background: var(--backgroundColor);
            transition: all ease .35s;
            // background: #efefef;
            color: var(--textColor);
            &.add-cart:hover{
                color: white;
                background: var(--backgroundColor);
            }
        }
        button + button{
            margin-left: 10px;
        }
    }
}
@media screen and (max-width:1020px) {
    .ProductItem {
        flex-basis: calc(33.33% - 10px);
    }
}

@media screen and (max-width:768px) {
    .ProductItem {
        flex-basis: calc(50% - 10px);
    }
}


@media screen and (max-width:450px) {
    .ProductItem {
        .product-info {
            .product-panel{
                p{
                    &:last-child{
                        flex-direction: column;
                        span + span{
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }
}