* {
    .Title {
        text-align: center;
        font-size: 24px;
        margin: 10px;
        font-weight: bold;
    }
    .BorderFormat {
        border: 2px solid black;
        width: 100%;
        margin: auto;
    }
}

.ProductToolHeader {
    padding: 7px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.FeedbackTool {
        justify-content: flex-end;
    }
    .AdminButton {
        border-radius: 0;
        padding: 5px 10px;
        min-width: 120px;
        cursor: pointer;
        background: var(--backgroundColor);
        color: var(--textColor);
        svg {
            transition: all ease 0.5s;
        }
        &:hover {
            svg {
                transform: rotate(180deg);
            }
        }
        &:active {
            opacity: 0.9;
        }
    }
}

.OverViewContainer {
    padding: 0 5%;

    .OverViewToolHeader {
        justify-content: flex-end;
    }
    .OverViewList {
        
        padding: 5px;
        ul{
            overflow-y: scroll;
        }
        &_Header, li {
            display: flex;
            background-color: var(--backgroundColor);
            color: white;
            padding: 10px 5px;
            margin-bottom: 2px;
            align-items: center;
            user-select: none;
            p{
                flex-grow: 1;
                padding: 5px 0;
                text-align: center;
                &.ordername{
                    text-align: left;
                }
                &:first-child{
                    max-width: 60px;
                    width: 60px;
                    margin-right: 20px;
                }
                &.orderemail{
                    max-width: 200px;
                    width: 200px;
                    overflow-x: hidden;
                }
                &:last-child{
                    max-width: 100px;
                    width: 100px;
                    display: flex;
                    justify-content: space-evenly;
                    button{
                        font-size: 20px;
                        background: transparent;
                        outline: none;
                        border: none;
                        
                        &:last-child{
                            color: red;
                        }
                        &:first-child{
                            color: green;
                        }
                    }
                    padding:  0 10px;
                }
                &.timecreated{
                    max-width: 200px;
                    width: 200px;
                }
                &.totalorder{
                    max-width: 150px;
                    width: 150px;
                }
                &.orderphone{
                    max-width: 120px;
                    width: 120px;
                }
            }
        }
        li{

            color:black;
            background: white;
            &:nth-child(even){
                background: rgba(0, 0, 0, 0.068);
            }
        }
        @media screen and (max-width:1300px) {
            &_Header, li{
                p{
                    &.orderemail{
                        display: none;
                    }
                }
            }   
        }
        @media screen and (max-width:1100px) {
            &_Header, li{
                p{
                    &.orderphone{
                        display: none;
                    }
                }
            }       
        }
        @media screen and (max-width:950px) {
            &_Header, li{
                p{
                    &.timecreated{
                        display: none;
                    }
                }
            }
            
        }
    }
   
    .OverView_Body {
        max-height: calc(250px);
        border: 1px solid black;
        overflow-y: auto;
    }
}

.detail_transaction {
    position: fixed;
    top: 65px;
    left: 0;
    height: calc(100vh - 65px);
    width: 100%;
    background: rgba(0, 0, 0, 0.212);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    .detail_wrapper {
        background: white;
        padding: 20px;
        position: relative;
        transition: inherit;
        button.onhide{
            color:var(--backgroundColor);
            svg{
                transition: all ease .5s;
                width: 24px;
                height: 24px;
            }
            &:hover svg{
                transform: rotate(180deg);
            }
        }
        .order_behavior{
            display: flex;
            justify-content: flex-end;
            button{
               padding: 5px 10px;
               & + button{
                   margin-left: 20px;
               }
            }
        }
        svg {
            font-size: 20px;
            position: absolute;
            right: 20px;
            top: 20px;
        }
        h3 {
            margin-bottom: 10px;
            padding-bottom: 5px;
            border-bottom: 2px solid var(--backgroundColor);
            color: var(--backgroundColor);
        }
        .cus_info {
            p {
                padding: 5px;
                span {
                    width: 150px;
                    display: inline-block;
                }
            }
            p + p {
                margin-top: 7px;
            }
        }
        .detail_header {
            display: flex;
            background: rgba(133, 133, 133, 0.473);

            p {
                flex-grow: 1;
                text-align: center;
                padding: 5px;
                &.dh_name {
                    text-align: left;
                    min-width: 250px;
                }
                &.dh_total {
                    width: 120px;
                    min-width: 120px;
                    max-width: 120px;
                }
                &.dh_amount {
                    width: 80px;
                    min-width: 80px;
                    max-width: 80px;
                }
                &.dh_price {
                    width: 120px;
                    min-width: 120px;
                    max-width: 120px;
                }
            }
        }
        & > ul {
            max-height: 100px;
            list-style: none;
            border: 1px solid black;
            overflow-y: auto;
            margin-bottom: 20px;
            li {
                display: flex;
                &:nth-child(even) {
                    background: rgba(0, 0, 0, 0.062);
                }
                p {
                    flex-grow: 1;
                    padding: 5px;
                    text-align: center;
                    &.dh_name {
                        text-align: left;
                        min-width: 250px;
                    }
                    &.dh_total {
                        width: 120px;
                        min-width: 120px;
                        max-width: 120px;
                    }
                    &.dh_amount {
                        width: 80px;
                        min-width: 80px;
                        max-width: 80px;
                    }
                    &.dh_price {
                        width: 120px;
                        min-width: 120px;
                        max-width: 120px;
                    }
                }
            }
        }
    }
}


.StatisticContainer {
    padding: 10px 5%;
}

.Sales {
    text-align: center;
    padding: 50px;
    div{
        margin: auto;
    }
    @media screen and(max-width: 600px) {
        border: 1px solid black;
    }
}

.Responsive {
    @media screen and (max-width: 820px) {
        p {
            font-size: 20px;
        }
    }
    @media screen and (max-width: 600px) {
        height: 200px;
        .ProductTrend {
            height: 370px;
            border: 1px solid black;
        }
        .Rating {
            height: 370px;
            border: 1px solid black;
        }
        p {
            font-size: 14px;
        }
    }
    @media screen and (max-width: 400px) {
        height: 120px;
        .ProductTrend {
            height: 220px;
        }
        .Rating {
            height: 220px;
        }
        p {
            font-size: 8px;
        }
    }
}

.ListLayout {
    margin: auto;
    user-select: none;
    padding: 0 5%;

    div li {
        transition: all ease 0.3s;
        &:hover {
            background: var(--backgroundColorFade) !important;
        }
    }

    .ProductListHeader {
        display: flex;
        background-color: var(--backgroundColor);
        color: white;
        padding: 10px 5px;
        margin-bottom: 2px;
        align-items: center;
        p {
            text-align: center;
            padding: 2px 0;
            &:nth-child(1) {
                max-width: 80px;
                min-width: 80px;
                margin-right: 10px;
            }
            &:nth-child(2) {
                width: 100%;
                text-align: left;
            }
            &:nth-child(3) {
                width: 20%;
                min-width: 200px;
            }
            &:nth-child(4) {
                width: 30%;
                min-width: 100px;
                @media screen and (max-width: 800px) {
                    display: none;
                }
            }
            &:nth-child(5) {
                width: 150px;
                min-width: 100px;
            }
            &:nth-child(6) {
                width: 200px;
                min-width: 100px;
            }
        }
    }
    .ModeratorListHeader {
        display: flex;
        background-color: var(--backgroundColor);
        margin: auto;
        align-items: center;
        padding: 10px 5px;
        color: var(--textColor);
        p {
            text-align: center;
            padding: 2px 0;
            &:nth-child(1) {
                width: 80px;
                min-width: 80px;
                margin-right: 10px;
            }
            &:nth-child(2) {
                width: 35%;
                text-align: left;
            }
            &:nth-child(3) {
                max-width: 105px;
                min-width: 105px;
            }
            &:nth-child(4) {
                max-width: 105px;
                min-width: 105px;
            }
            &:nth-child(5) {
                max-width: 80px;
                min-width: 80px;
            }
            &:nth-child(6) {
                min-width: 400px;
                max-width: 400px;
                @media screen and (max-width: 1120px) {
                    min-width: 250px;
                    max-width: 250px;
                }
            }
            &:nth-child(7) {
                min-width: 200px;
                max-width: 200px;
            }
        }
    }
    .FeedbackListHeader {
        display: flex;
        background-color: var(--backgroundColor);
        // margin: auto;
        align-items: center;
        padding: 10px 5px;
        color: var(--textColor);
        p {
            text-align: center;
            padding: 2px 0;
            &:nth-child(1) {
                min-width: 80px;
                max-width: 80px;
                margin-right: 10px;
            }
            &:nth-child(2) {
                width: 20%;
                text-align: left;
            }
            &:nth-child(3) {
                width: 30%;
                text-align: left;
            }
            &:nth-child(4) {
                width: 20%;
                text-align: left;
            }
            &:nth-child(5) {
                min-width: 190px;
                max-width: 100px;
            }
            &:nth-child(6) {
                min-width: 100px;
                max-width: 100px;
            }
            &:nth-child(7) {
                min-width: 100px;
                max-width: 100px;
            }
        }
    }
    .AdminListClass {
        height: calc(100vh - 240px);
        overflow-y: auto;
        margin: auto;
        border: 1px solid black;
        @media screen and(max-width:1396px) {
            height: calc(100vh - 260px);
        }
        li {
            display: flex;
            padding: 10px 0;
            align-items: center;
            &:nth-child(even) {
                background-color: rgba(165, 165, 165, 0.267);
            }
            p {
                text-align: center;
                padding: 2px 0;
                &:nth-child(1) {
                    max-width: 80px;
                    min-width: 80px;
                    margin-right: 10px;
                }
                &:nth-child(2) {
                    width: 100%;
                    text-align: left;
                }

                &:nth-child(3) {
                    width: 20%;
                    min-width: 200px;
                }
                &:nth-child(4) {
                    width: 30%;
                    min-width: 100px;
                    @media screen and (max-width: 800px) {
                        display: none;
                    }
                }
                &:nth-child(5) {
                    width: 150px;
                    min-width: 100px;
                }
                &:nth-child(6) {
                    width: 200px;
                    min-width: 100px;
                }
                button {
                    border-radius: 0 !important;
                    padding: 0;
                    width: auto;
                    padding: 5px;
                    background: transparent;
                    border: none;
                    color: green;
                    & + button {
                        margin-left: 10px;
                    }
                    &:last-child {
                        color: red;
                    }
                }
            }
        }
        .FeedbackList {
            display: flex;
            padding: 10px 0;
            align-items: center;
            &:nth-child(even) {
                background-color: rgba(165, 165, 165, 0.267);
            }
            p {
                text-align: center;
                &:nth-child(1) {
                    min-width: 80px;
                    max-width: 80px;
                }
                &:nth-child(2) {
                    width: 20%;
                    text-align: left;
                }
                &:nth-child(3) {
                    width: 30%;
                    text-align: left;
                }
                &:nth-child(4) {
                    width: 20%;
                    text-align: left;
                }
                &:nth-child(5) {
                    min-width: 190px;
                    max-width: 100px;
                }
                &:nth-child(6) {
                    min-width: 100px;
                    max-width: 100px;
                }
                &:nth-child(7) {
                    min-width: 100px;
                    max-width: 100px;
                }
            }
        }
        .ModeratorList {
            display: flex;
            padding: 5px;
            align-items: center;
            &:nth-child(even) {
                background-color: rgba(165, 165, 165, 0.267);
            }
            p {
                &:nth-child(1) {
                    width: 80px;
                    min-width: 80px;
                    margin-right: 10px;
                }
                &:nth-child(2) {
                    flex-basis: 35%;
                    text-align: left;
                }
                &:nth-child(3) {
                    max-width: 105px;
                    min-width: 105px;
                }
                &:nth-child(4) {
                    max-width: 105px;
                    min-width: 105px;
                }
                &:nth-child(5) {
                    max-width: 80px;
                    min-width: 80px;
                }
                &:nth-child(6) {
                    min-width: 400px;
                    max-width: 400px;
                    @media screen and (max-width: 1120px) {
                        min-width: 250px;
                        max-width: 250px;
                    }
                }
                &:nth-child(7) {
                    min-width: 200px;
                    max-width: 200px;
                }
                button {
                    border-radius: 0 !important;
                    padding: 0;
                    width: auto;
                    padding: 5px;
                    background: transparent;
                    border: none;
                    color: green;
                    & + button {
                        margin-left: 10px;
                    }
                    &:last-child {
                        color: red;
                    }
                }
            }
        }
    }
}

.ProductFullInfoHeader {
    width: 100%;
    display: flex;
    padding: 0 5px 10px 5px;
    p.Title {
        text-align: center;
        flex-basis: 100%;
        color: var(--backgroundColor);
    }
    button {
        font-size: 24px;
        background: transparent;
        border: none;
        margin: 0 !important;
        width: auto;
        &:first-child {
            color: var(--backgroundColor) !important;
        }
        &:last-child {
            color: red;
        }
    }
}

.ProductInfoContent {
    height: calc(100% - 50px);
    overflow-y: scroll;
}

.ProductInfo {
    // background: white !important;
    .AddProductForm {
        padding: 10px;
        li {
            display: flex;
            align-items: center;
            justify-content: right;
            padding: 10px;
            p {
                flex-basis: 20%;
                display: flex;
                p{
                    color: red;
                }
            }
            input {
                width: 80%;
                margin-left: 2%;
                padding: 10px;
                font-size: 16px;
            }
            &:nth-child(2) select{
                font-size: 16px;
                width: 80%;
                padding: 10px;
                margin-left: 2%;
            }
            &:nth-child(26) {
                div {
                    width: 80%;
                    div {
                        display: flex;
                        margin: 10px 0;
                        width: 100%;
                        p {
                            margin: auto;
                            width: 30%;
                            padding-left: 10px;
                        }
                        input {
                            width: 76%;
                        }
                    }
                }
            }
        }
        .ImageContainer div {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            margin: auto;
            height: auto;
            .ProductImg {
                border: 1px solid black;
                margin: 5px;
                width: 100%;
                min-width: 50%;
            }
        }
    }
}

.ProductDetail {
    margin: 5px auto;
    padding: 10px;
    background: var(--backgroundColorFade);
    max-width: 950px;
    button {
        color: rgb(253, 48, 48);
        background: transparent;
        font-size: 24px;
        &:nth-child(2) {
            color: var(--backgroundColor);
            margin-left: 10px;
        }
    }
    .ProductDetailForm {
        li {
            display: flex;
            justify-content: right;
            align-items: center;

            p {
                flex-basis: 20%;
            }
            input {
                width: 80%;
                margin-left: 2%;
                padding: 10px;
                font-size: 16px;
            }
            & + li {
                margin-top: 10px;
            }
        }
    }
}

.AddProductDetail {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.349);
    overflow-y: auto;
    .ProductDetail {
        background-color: #fff;
        margin: 10px auto;
    }
}

.DetailSplit {
    &:not(:last-child) {
        width: 60%;
        margin: 20px auto 0;
        border: 1px dashed black;
    }
}

.ProductFullInfoSplit {
    position: relative;
    .Line {
        margin: 30px auto;
        width: 80%;
        border-bottom: 3px solid var(--backgroundColor);
        line-height: 0.1em;
        span {
            background: white;
            padding: 0 20px;
            color: var(--backgroundColor);
            &+p{
                color: red;
                position: relative;
                right: -110px;
                font-size: 16px;
                top: -3px;
            }
        }
    }
    button {
        position: absolute;
        top: -25px;
        left: 5px;
        padding: 10px;
        color: green;
        svg {
            transition: all ease 0.5s;
        }
        &:hover svg {
            transform: rotate(180deg);
        }
    }
}

.ProductManagementButton {
    position: absolute;
    left: 12%;
    top: 15.5%;
}

.ProductFullInfo {
    position: absolute;
    height: calc(100vh - 65px);
    width: 100%;
    overflow: hidden;
    top: 65px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.349);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    .ProductFullInfoWrapper {
        height: calc(100vh - 40px - 65px);
        background-color: white;
        max-width: 950px;
        padding: 20px;
        width: 80%;
    }
}

.BgAdminHeaderPopup {
    position: fixed;
    top: 65px;
    left: 0;
    width: 100%;
    height: calc(100vh - 65px);
    background-color: rgba(0, 0, 0, 0.377);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    .AdminInformation {
        width: 40%;
        max-width: 500px;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.418);
        .InfomationHeader {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            color: var(--backgroundColor);
            button {
                font-size: 24px;
                &:first-child {
                    color: var(--backgroundColor);
                }
                &:last-child {
                    color: red;
                }
            }
        }
        .AdminInformationForm {
            div {
                display: flex;
                padding: 10px 0;
                align-items: center;
                span {
                    width: 120px;
                    display: inline-block;
                }
                .TextField,
                textarea {
                    width: calc(100% - 120px);
                    padding: 10px;
                    resize: none;
                    font-size: inherit;
                }
                .Sex {
                    display: flex;
                    align-items: center;
                    input {
                        width: 20px;
                        height: 20px;
                        margin-right: 5px;
                    }
                    input + label + input {
                        margin-left: 20px;
                    }
                }
            }
        }
    }
    .ChangePwd {
        width: 80%;
        max-width: 500px;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.418);
        .ChangePwdHeader {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            color: var(--backgroundColor);
            button {
                font-size: 24px;
                &:first-child {
                    color: var(--backgroundColor);
                }
                &:last-child {
                    color: red;
                }
            }
        }
        form {
            div {
                display: flex;
                padding: 10px 0;
                align-items: center;
                span {
                    width: 120px;
                    display: inline-block;
                }
                input {
                    width: calc(100% - 120px);
                    padding: 10px;
                    resize: none;
                    font-size: inherit;
                }
            }
        }
    }
}

.ModeratorInformation {
    position: absolute;
    width: 100%;
    top: 65px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.39);
    backdrop-filter: blur(5px);
    height: calc(100vh - 65px);
    display: flex;
    justify-content: center;
    align-items: center;
    .ModeratorInformationBoder {
        min-width: 600px;
        background-color: white;
        padding: 20px 30px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.342);
        .ModeratorHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--backgroundColor);
            padding: 20px 0;
            button {
                font-size: 24px;
                background: transparent;
                outline: none;
                border: none;
                &:first-child {
                    color: var(--backgroundColor);
                }
                &:last-child {
                    color: red;
                }
            }
        }
        .ModInfoForm {
            div {
                display: flex;
                align-items: center;
                & + div {
                    margin-top: 10px;
                }
                p {
                    width: 80px;
                    margin-right: 20px;
                    text-align: right;
                }
                input[type="text"],
                input[type="password"],
                textarea {
                    width: calc(100% - 100px);
                    padding: 10px;
                    resize: none;
                    font-size: inherit;
                }
                textarea {
                    margin-bottom: 20px;
                }
                div {
                    input {
                        width: 20px;
                        height: 20px;
                        & + label + input {
                            margin-left: 20px;
                        }
                        & + label {
                            margin-left: 5px;
                        }
                    }
                }

                button {
                    padding: 5px;
                }
            }
        }
    }
}

.FeedbackInformation {
    position: absolute;
    width: 100%;
    left: 0;
    top: 65px;
    background-color: rgba(0, 0, 0, 0.486);
    backdrop-filter: blur(5px);
    height: calc(100vh - 65px);
    display: flex;
    justify-content: center;
    align-items: center;
    .FeedbackInformationBorder {
        width: 40%;
        padding: 10px 20px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
        h2 {
            padding-bottom: 10px;
            border-bottom: 2px solid var(--backgroundColor);
            color: var(--backgroundColor);
        }
        .FbInfoPart1 {
            padding: 10px 0;
            margin-bottom: 10px;
            border-bottom: 2px solid var(--backgroundColor);
            div {
                display: flex;
                align-items: flex-start;
                padding: 5px 0;
                span {
                    display: inline-block;
                    width: 130px;
                    font-size: 14px;
                    font-weight: 600;
                }
                p,
                textarea {
                    width: calc(100% - 130px);
                    resize: none;
                    outline: none;
                    cursor: context-menu;
                }
                textarea{
                    padding: 10px;
                }
            }
        }
        .FbInfoPart2 {
            height: 200px;
            overflow-y: scroll;
            margin-bottom: 10px;
            padding: 10px;
            textarea {
                cursor: context-menu;
            }
        }
        .FbInfoBtn {
            display: flex;
            justify-content: center;
            width: 100%;
            button {
                border-radius: 0;
                padding: 5px 10px;
                font-size: 24px;
                border: none;
                background: transparent;
                &:first-child {
                    color: var(--backgroundColor);
                }
                &:nth-child(2) {
                    color: red;
                }
            }
        }
    }
}

.AdminReplied {
    margin: 10px 0;
    .AdminReplied_User {
        display: flex;
        margin: 5px 0;
        p {
            font-size: 14px;
        }
        button{
            position: relative;
            color: red;
            left: 2%;
            font-size: 16px;
        }
    }
    textarea {
        width: 100%;
        height: 70px;
        resize: none;
        outline: none;
        padding: 5px;
        font-size: inherit;
    }
}

.ReplyFeedback {
    position: absolute;
    width: 100%;
    left: 0;
    top: 65px;
    background-color: rgba(128, 128, 128, 0.822);
    height: calc(100vh - 65px);
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .ReplyFeedbackBorder {
        width: 40%;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 1% 2%;
        h2 {
            padding: 10px 0;
            border-bottom: 2px solid var(--backgroundColor);
            color: var(--backgroundColor);
            margin-bottom: 10px;
        }
        div {
            textarea {
                display: block;
                margin: 10px 0;
                width: 100%;
                padding: 10px;
                font-size: inherit;
                resize: none;
            }
            &.FeedbackBehavior {
                display: flex;
                justify-content: center;
                button {
                    font-size: 28px;
                    padding: 5px 20px;
                    background: transparent;
                    &:first-child {
                        color: var(--backgroundColor);
                    }
                }
            }
        }
    }
}
