*{
    .Title{
        text-align: center;
        font-size: 30px;
        margin: 10px;
    }
    .BorderFormat{
        border: 2px solid black;
        width: 80%;
        margin: auto;
        border-radius: 55px;
    }
}

.OverView{
    margin: 1% auto;
    height: 300px;
    p{
        margin: 8px;
        font-size: 25px;
        text-align: center;
    }
}

.AccessCount{
    margin: 2% auto 1%;
    @media screen and(max-width: 600px) {
        border: 1px solid black;
    }
}

.Sales{
    @media screen and(max-width: 600px) {
        border: 1px solid black;
    }
}

.ProductTrend_Rating{
    display: flex;
    width: 80%;
    margin: 1% auto;
    height: 500px;
    .ProductTrend{
        width: 49%;
        margin: 0 1% 0 0;
        border: 2px solid black;
        border-radius: 45px;
    }
    .Rating{
        width: 49%;
        margin: 0 0 0 1%;
        border: 2px solid black;
        border-radius: 45px;
    }
    p{
        margin: 8px;
        font-size: 25px;
        text-align: center;
    }
}

.Responsive{
    @media screen and (max-width: 820px) {
        p{
            font-size: 20px;
        }
    }
    @media screen and (max-width: 600px) {
        height: 200px;
        .ProductTrend{
            height: 370px;
            border: 1px solid black;
        }
        .Rating{
            height: 370px;
            border: 1px solid black;
        }
        p{
            font-size: 14px;
        }
    }
    @media screen and (max-width: 400px) {
        height: 120px;
        .ProductTrend{
            height: 220px;
        }
        .Rating{
            height: 220px;
        }
        p{
            font-size: 8px;
        }
    }
}

.ListLayout{
    margin-top: 3%;
    .AdminListClass{
        height: 700px;
    }
}

.ProductInfo{
    padding: 0 0 20px 0;
    .Info{
        margin: 15px 0 15px 30px;
    }
}

.ProductDetail{
    padding: 0 0 20px 0;
    .Detail{
        margin: 15px 0 15px 30px;
    }
}

.DetailSplit{
    width: 60%;
    margin: 20px auto 0;
    border: 1px dashed black;
    &:last-child{
        display: none;
    }
}

.ProductFullInfoSplit{
    position: relative;
    .Line{
        margin: 30px auto;
        width: 65%; 
        border-bottom: 1px solid #000; 
        line-height: 0.1em;
        span{
            background:#F5F5F5; 
            padding:0 10px;
        }
    }
    .Button{
        position: absolute;
        top: -15px;
        left: 10%;
    }
}

.ProductManagementButton{
    position: absolute;
    left: 12%;
    top: 15.5%;
}

.ProductRecord{
    display: flex;
    align-items: center;
    p + p{
        border-left: 2px solid black;
    }
    p{
        height: 26px;
        text-align: center;
        padding: 3px 0;
        &:nth-child(1){
            width: 7%;
        }
        &:nth-child(2){
            width: 25%;
        }
        &:nth-child(3){
            width: 8%;
        }
        &:nth-child(4){
            width: 45%;
        }
        &:nth-child(5){
            width: 6%;
        }
        &:nth-child(6){
            width: 9%;
        }
    }
    + hr{
        width: 98%;
        margin: 5px auto;
        &:last-child{
            display: none;
        }
    }
}

.FeedbackRecord{
    display: flex;
    align-items: center;
    p + p{
        border-left: 2px solid black;
    }
    p{
        height: 26px;
        text-align: center;
        padding: 3px 0;
        &:nth-child(1){
            width: 15%;
        }
        &:nth-child(2){
            width: 35%;
        }
        &:nth-child(3){
            width: 24%;
        }
        &:nth-child(4){
            width: 10%;
        }
        &:nth-child(5){
            width: 7%;
        }
        &:nth-child(6){
            width: 9%;
        }
    }
    + hr{
        width: 98%;
        margin: 5px auto;
        &:last-child{
            display: none;
        }
    }
}

.ModeratorRecord{
    display: flex;
    align-items: center;
    p + p{
        border-left: 2px solid black;
    }
    p{
        height: 26px;
        text-align: center;
        padding: 3px 0;
        &:nth-child(1){
            width: 5%;
        }
        &:nth-child(2){
            width: 20%;
        }
        &:nth-child(3){
            width: 9%;
        }
        &:nth-child(4){
            width: 9%;
        }
        &:nth-child(5){
            width: 5%;
        }
        &:nth-child(6){
            width: 43%;
        }
        &:nth-child(7){
            width: 9%;
        }
    }
    + hr{
        width: 98%;
        margin: 5px auto;
        &:last-child{
            display: none;
        }
    }
}

.ProductFullInfo{
    position: absolute;
    width: 100%;
    top: 10%;
    background-color: rgba(128, 128, 128, 0.822);
    div{
        &:first-child{
            margin: auto;
            background-color: rgba(255, 255, 255, 0.9);
            width: 80%;
            padding: 2% 10%;
        }
    }
    .CloseBtn{
        position: absolute;
        left: 88%;
        top: 1%;
    }
}